<div class="py-2 bg-light">
    <div class="container pb-2">
        <input type="button" ng-click="$ctrl.toggleMainSwitch()" class="btn btn-default col-4 pb-2" value="Toggle">
        <div class="mainAnimation row" ng-if="$ctrl.mainSwitch === true">
                <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus leo eget rutrum venenatis.
                    Sed
                    interdum felis interdum ex molestie consectetur. Nullam at augue quis arcu condimentum fringilla.
                    Proin
                    ut mauris ac mi hendrerit lobortis. Morbi urna nibh, rhoncus a ante eget, semper pellentesque est.
                    Sed
                    mattis varius vestibulum. Curabitur consequat in ipsum vel tempus. Ut faucibus laoreet aliquet.
                    Nunc
                    aliquam risus vitae fermentum feugiat. Suspendisse potenti. Ut semper, massa a aliquet gravida,
                    diam
                    massa tristique dui, id porta augue orci in arcu. Donec maximus, neque vel varius tincidunt, arcu
                    urna
                    sodales diam, sit amet malesuada mi velit vitae ipsum. Interdum et malesuada fames ac ante ipsum
                    primis
                    in faucibus. In vitae arcu tellus. Donec sit amet volutpat arcu, quis egestas tellus.</p>

                <p class="pt-2">Integer in felis in lectus mollis dictum. Nulla euismod, urna quis facilisis euismod, ante risus
                    eleifend risus, in hendrerit massa tortor et justo. Proin consequat dignissim nunc, ut cursus
                    tortor
                    fermentum sed. Curabitur rutrum, velit vitae fringilla vestibulum, elit nisl pharetra magna, non
                    maximus magna ante volutpat justo. Donec non erat enim. Nulla sed nunc mattis, luctus felis at,
                    imperdiet dolor. Etiam leo ipsum, molestie vel mauris non, elementum elementum nisl. Nulla bibendum
                    cursus sem, et tempor libero blandit eget. Cras bibendum cursus ante. Ut in erat magna. Morbi enim
                    nunc, commodo at dictum consectetur, placerat eget nisi. Vivamus a tempus sapien, nec interdum
                    eros. In
                    porta odio tincidunt, facilisis ex vitae, eleifend massa. Nam vitae leo leo. Nulla mollis libero eu
                    tellus aliquet vehicula. Vestibulum vel tellus rhoncus, eleifend urna id, ullamcorper risus.</p>
        </div>
    </div>
</div>